@import 'stylesheets/materialize-social.scss';
@import 'stylesheets/login.scss';
@import 'stylesheets/recipe-view.scss';

p {
  line-height: 2rem; }

.button-collapse {
  color: #26a69a; }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  background: #1F1C2C;
  background: -webkit-linear-gradient(left, #1F1C2C, #928dab);
  background: -moz-linear-gradient(left, #1F1C2C, #928dab);
  background: linear-gradient(left, #1F1C2C, #928dab); }

.parallax-container .section {
  width: 100%; }

@media only screen and (max-width: 768px) {
  .parallax-container .section {
    position: absolute;
    top: 40%; }
  #index-banner .section {
    top: 10%; } }

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0; }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

h5 {
  color: #FFF;
}

.user-container .col.s12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.collapsible {
  width: 800px;
}

.collapsible-body {
  background-color: #FFF;
}

.card {
  width: 100%;
}

.user-container .top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav {
  background: -webkit-gradient(linear, left top, right top, from(#0077aa), to(#19aaaa));
  box-shadow: none;
}

.nav-wrapper {
  padding: 0 50px;

  @media only screen and (max-width: 768px) {
    padding: 0px;
  }
}

.tab-section {
  border-right: 1px solid #e0e0e0;
  padding: 0px !important;
  
  .indicator {
    display: none !important;
  }

  .tab a {
    color: rgba(0,0,0,0.87);
  }

  .tab a.active, .tab a:hover {
    background-color: #ddd;
    color: rgba(0,0,0,0.87);
  }

  .tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 64px);
  }
}

.row .content-section {
  padding-top: 15px ;
}

.fluid-container > .row {
  margin-bottom: 0px;
}

.button-collapse {
  color: #FFF;
}

#toast-container {
  .warning-toast {
    background-color: #e53935;
  }

  .success-toast {
    background-color: #4caf50;
  }
}

.add-ingredient-row {
  display: flex;
}

.tabs > span {
  display: flex;
  flex-direction: column;
}

.add-recipe-enter {
  opacity: 0.01;
  transform: translateY(150%);
}

.add-recipe-enter.add-recipe-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease;
}

.add-recipe-leave {
  opacity: 1;
  transform: translateY(0);
}

.add-recipe-leave.add-recipe-leave-active {
  opacity: 0.01;
  transform: translateY(150%);
  transition: opacity 300ms ease-in;
}

// ingredient list animations
.ingredient-list-enter {
  // opacity: 0.01;
  transform: translateX(100%);
  height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.ingredient-list-enter.ingredient-list-enter-active {
  // opacity: 1;
  transform: translateX(0);
  height: 43px;
  transition: all 400ms ease;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ingredient-list-leave {
  // opacity: 1;
  transform: translateX(0);
  height: 43px;
  transition: all 400ms ease;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ingredient-list-leave.ingredient-list-leave-active {
  // opacity: 0.01;
  transform: translateX(100%);
  transition: all 400ms ease;
  height: 0px !important;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
}

.add-recipe-button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ingredient-list {
  .collection {
    border: none;
  }

  .collection .collection-item {
    border: 1px solid #e0e0e0;
    border-top: 0;
  }

  .collection .collection-header {
    border: 1px solid #e0e0e0;
  }
}

.tab-section {
  @media only screen and (max-width: 992px) {
    .tabs .tab {
      flex-grow: initial !important;
    }
  }
  
}
